<a href="https://colab.research.google.com/github/RAKaria/Practise/blob/main/Copy_of_Create_SQL_DB_and_Tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

Create a new Database 'esmartdata.sqlite3'

In [ ]:
conn = sqlite3.connect('esmartdata.sqlite3')
c = conn.cursor()

Create Tables within new Database

In [ ]:
c.execute('''
          DROP TABLE IF EXISTS esmartdata_instructor 
          ''')

c.execute('''
          CREATE TABLE esmartdata_instructor
          ([id] INTEGER  AUTO_INCREMENT NOT NULL PRIMARY KEY, [first_Name] TEXT NOT NULL , [Last_Name] TEXT NOT NULL , [Description] TEXT NOT NULL)
          ''')

In [ ]:
c.execute('''
          DROP TABLE IF EXISTS esmartdata_course 
          ''')

c.execute('''
          CREATE TABLE esmartdata_course
          (
          "id" INTEGER  AUTO_INCREMENT NOT NULL PRIMARY KEY, 
          "title" TEXT NOT NULL , 
          "subtitle" TEXT NOT NULL , 
          "Description" TEXT NOT NULL, 
          "category" TEXT NOT NULL, 
          "subcategory" TEXT NOT NULL, 
          "language" TEXT NOT NULL, 
          "length" TEXT NOT NULL, 
          "rating" TEXT NOT NULL, 
          "referral_link" TEXT NOT NULL, 
          FOREIGN KEY "instructor_id" REFERENCES esmartdata_instructor"id" TEXT NOT NULL ON DELETE CASCADE ON UPDATE CASCADE
          )
          ''')

conn.commit()
conn.close()