<a href="https://colab.research.google.com/github/RAKaria/Practise/blob/main/Create_SQL_DB_and_Tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

Create a new Database 'esmartdata.sqlite3'

In [ ]:
conn = sqlite3.connect('esmartdata.sqlite3')
c = conn.cursor()

Create Tables within new Database

In [ ]:
c.execute('''
          DROP TABLE IF EXISTS esmartdata_instructor 
          ''')

c.execute('''
          CREATE TABLE esmartdata_instructor
          ([id] INTEGER  AUTO_INCREMENT NOT NULL PRIMARY KEY, [first_Name] TEXT NOT NULL , [Last_Name] TEXT NOT NULL , [Description] TEXT NOT NULL)
          ''')

conn.commit()
conn.close()